/* =Menu
----------------------------------------------- */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
        padding: 5px;
        text-align: center;
	// first level
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		li {
			float: left;
			position: relative;
                        padding: 0.5em 1em;
                        
			a {
				display: block;
				text-decoration: none;
			}

			// link hover
			&:hover {
				> a { 
                                    border-bottom: 3px solid;
                                    margin-bottom: -3px;
                                }
				> ul { display: block; }
			}

		}

		.current_page_item, .current-menu-item {
			a {}
		}

		// second level
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			display: none;
			float: left;
			position: absolute;
				top: $vspacing;
				left: 0;
			z-index: 99999;

			&:hover {
				> a {};
			}

			li {
				a {
					width: 200px;
					&:hover {};
				}
			}

			// third level
			ul {
				left: 100%;
				top: 0;
			}

		}
	}

}

.menu-container{
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
}

.menu-search{
    display: block;
    padding-right: 0.5em;
    .search-field{
        vertical-align: middle;
        font-size: 0.7em;
        padding-left: 15px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    .search-submit{
        display: none;
    }
}
/* Small menu */
.menu-toggle {
        display: none;
        cursor: pointer;
}

@media all and (min-width: 40.063em){
    
}

@media screen and (min-width: 64.063em) {
    .main-navigation{
        text-align: left;
    }
    .menu-container{
        float: left;
    }
    .menu-search{
        display: inline-block;
        float: right;
    }
}